.my {
    background-color: #ebebeb;

    .main-top {
        background-color: #f03d37;
        background-image: url(../../assets/images/bg.png);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100% 150px;
        height: 150px;
        overflow: hidden;
        text-align: center;

        .top-img {
            display: inline-block;
            margin-top: 30px;
            width: 60px;
            height: 60px;
            border-radius: 60px;
            border: 3px solid #fff;
        }
    }

    .group {
        margin-top: 10px;
        background: #fff;
        padding: 0 15px;

        .title {
            position: relative;
            padding-top: 13px;
            text-align: center;
            font-size: 15px;
            line-height: 21px;
            height: 21px;
            color: #333;
            background-color: #fff;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 40px;
                height: 1px;
                background-color: #eaeaea;
                top: 69%;
                left: 30%;
            }
            &::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 1px;
                background-color: #eaeaea;
                top: 69%;
                right: 30%;
            }
        }

        .list {
            overflow: hidden;
        }

        .list-item {
            width: 50%;
            float: left;
            height: 77px;
            margin-top: 18px;
            background: url(../../assets/images/movie-logo.png) no-repeat;
            background-position: top;
            background-size: 42px auto;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 20px;

            &:nth-child(2) {
                background: url(../../assets/images/shop-logo.png) no-repeat;
                background-position: top;
                background-size: 42px auto;
            }
        }

        .line-item {
            height: 44px;
            line-height: 44px;
            font-size: 15px;
            border-bottom: 1px solid #eaeaea;
        }
    }
}