.content {
  margin-top: 50px;

  .top {
    z-index: 100;
    display: flex;
    height: 44px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    width: 100%;
    background-color: #f5f5f5;

    .city {
      padding-left: 15px;
      font-size: 15px;
      color: #666;
    }

    .search {
      height: 28px;
      font-size: 13px;
      color: #b2b2b2;
      margin-left: 18px;
      border: 0.5px solid #e6e6e6;
      border-radius: 5px;
      margin-right: 15px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
    }
  }
}

.wrap {
  z-index: 100;
  width: 100%;
  height: 40px;
  background-color: #fff;
  position: fixed;
  top: 94px;

  .tab {
    display: flex;
    position: relative;

    .item {
      flex: 1;
      text-align: center;
      line-height: 40px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      font-size: 13px;
      text-overflow: ellipsis;
      color: #777;

      &:nth-child(2):before,
      &:nth-child(3):before {
        content: "";
        display: block;
        position: absolute;
        height: 20px;
        top: 10px;
        left: 0;
        border-left: 1px solid #e8e8e8;
      }
    }
  }
}

.allcity {
  .am-tabs {
    position: absolute;
    top: 40px;
    height: 495px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
  }
}

.menu_main {
  display: flex;
  height: 100%;
  overflow: hidden;

  .menu_left {
    width: 35%;
    height: 100%;
    background-color: #f5f5f5;
    overflow: scroll;

    &::-webkit-scrollbar {
      height: 0;
    }

    .menu_item {
      background-color: #fff;
      height: 44px;
      line-height: 44px;
      text-align: center;
    }

    .menu_item_active {
      background-color: #f5f5f5;
    }
  }

  .menu_right {
    background-color: #f5f5f5;
    height: 100%;
    flex: 1;
    overflow: scroll;

    &::-webkit-scrollbar {
      height: 0;
    }

    .menu_item_r {
      height: 44px;
      line-height: 44px;
      text-align: center;
    }
  }
}

.blacker {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, .3);
}

.brand {
  height: 405px;
  overflow: scroll;
  background-color: #fff;
  padding-right: 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  .am-flexbox {
    height: 44px;
    line-height: 44px;
    padding: 0 26px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;

    .am-flexbox-item:nth-child(2) {
      text-align: right;
      font-size: 12px;
    }
  }
}

.feature {
  height: 330px;
  overflow: scroll;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 20px;
  color: #777;
  position: relative;

  .fea_main {
    height: 270px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .am-flexbox {
    line-height: 44px;

    .am-flexbox-item {
      border: 1px solid #e5e5e5;
      margin-right: 10px;
      border-radius: 5px;
      text-align: center;
      width: 20%;
      flex: auto;
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  .fea_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 61px;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    background: #fafafa;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;

    .am-flexbox-item {
      margin-bottom: 0;
      width: 88px;
      flex: 0 1 auto;
    }

    .am-button {
      width: 88px;
      height: 34px;
      line-height: 34px;
      font-size: 14px;
      color: #777;
      background-color: initial;

      &:before {
        border: none;
      }
    }

    .sure {
      background-color: #f03d37;
      border: 1px solid #f03d37;
      color: #fff;
    }
  }
}