.header_main {
    height: 50px;
    width: 100%;
    background-color: #e54847;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    z-index: 99;
}
.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
}
.header_relative {
    position: relative;
}

.icon-fanhuijiantou {
    position: absolute;
    left: 10px;
    font-size: 28px!important;
    color: #fff;
}